# ML Nautanki

In [1]:
from pandas import read_csv, DataFrame

In [2]:
data = DataFrame(read_csv(r'Data.csv'))
data

      ID       Cuisine          Dish
0     71       Dessert      Rasgulla
1     50       Dessert   Gulab Jamun
2     72     Fast Food        Subway
3     64        Indian   Butter Naan
4     40       Mughlai         Kebab
...   ..           ...           ...
9995  86        Indian  Palak Paneer
9996   3  South Indian  Idli Sambhar
9997  14  South Indian  Idli Sambhar
9998  47         Thai     Thai Curry
9999  96     Fast Food      Vada Pav

[10000 rows x 3 columns]

In [3]:
def maxEaten(ID, data):
    return data['Dish'][data['ID'] == ID].value_counts().idxmax()

In [4]:
maxEaten(int(input()), data)

'Strawberry Smoothie'

In [5]:
def collaborative(ID, data):
    dishes = data['Dish'][data['ID'] == ID].unique()

    IDs = list()

    for i in data['ID'].unique():
        if set(dishes).issubset(set(data['Dish'][data['ID'] == i].unique())):
            IDs.append(i)

    newData = data[data['ID'].isin(IDs)]

    newDishes = newData['Dish'][-newData['Dish'].isin(dishes)].unique()

    return newData['Dish'][newData['Dish'].isin(newDishes)][newData['ID'].isin(IDs)].value_counts().idxmax()

In [6]:
collaborative(int(input()), data)

'Chole Bhature'