# ML Nautanki

In [1]:
from pandas import read_csv, DataFrame

In [2]:
data = DataFrame(read_csv(r'Data.csv'))
data.head()

   ID    Cuisine         Dish
0  71    Dessert     Rasgulla
1  50    Dessert  Gulab Jamun
2  72  Fast Food       Subway
3  64     Indian  Butter Naan
4  40    Mughlai        Kebab

In [3]:
def maxEaten(ID, data):
    return data['Dish'][data['ID'] == ID].value_counts().idxmax()

In [4]:
maxEaten(int(input()), data)

'Mutton Biryani'

In [5]:
def collaborative(ID, data):
    cuisine = data['Cuisine'][data['ID'] == ID].value_counts().idxmax()

    temp = data[['ID', 'Dish']][data['Cuisine'] == cuisine]